img {
  width: 50%;
  height: 100%;
}

.image {
  // border: 1px solid;
  padding: 20px;
}

.detail{
  padding: 50px;
  // border: 1px solid;
}

.btn{
  background-color: red;
  color: white;
}

.name{
  font-size: 50px;
  font-weight: bold;
}

