<div class="container mt-5">
  <div class="row mt-5 movie">
    <div class="col-lg-6 image mt-5">
      <img src="assets/images/LEO UP.jpg" alt="" />
    </div>
    <div class="col-lg-6 mt-5 detail">
      <div class="row name">Leo</div>
      <div class="row mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illo
        veritatis consequuntur qui blanditiis explicabo laboriosam ea laborum! A
        iusto quo, libero tempore expedita iste quas eveniet quod sequi.
        Laudantium provident ducimus exercitationem ipsum corrupti laboriosam
        voluptatem maiores enim adipisci, magnam ipsam nam voluptates eveniet
        incidunt veritatis atque possimus repellendus.
      </div>
      <div class="row mt-5">
        <button class="btn">Book Now</button>
      </div>
    </div>
  </div>
</div>
